<%- include('templates/head.ejs') %>
<header class="hero">
    <div class="hero-body">
        <h1 class="title">
            Creativo
        </h1>
        <p class="subtitle"> by Roberto Martinez</p>
        <p class="subtitle"><a href="/"> <- Regresar</a></p>
    </div>
</header>
<main class="section">
    
        <div class="container">
            <p class="content">
                <h1 class="title"> Roberto Martinez</h1>
                Creativo es un Podcast creado por Roberto Martinez, un EXATEC egresado de ISC en ITESM, Campus Monterrey. Su pograma se volvió relevante gracias a la pandemia y a ido progresando junto con sus libros publicados: <br>
                <ul>
                    <li>El arte de perder</li>
                    <li>Creativo</li>
                    <li>México Lindo y Querido Diario</li>
                </ul>
            </p>
            <a href="https://robertomtz.com">Este es el link directo a su página web para encontrar más info.</a>
            <figure class="image">
                <img src="https://imgs.search.brave.com/BOnMrhLdRo6ISHCcUNR5TdvKxDoZ3I2QXUt7V83MpzM/rs:fit:760:760:1/g:ce/aHR0cHM6Ly9wYXls/b2FkNDA1LmNhcmdv/Y29sbGVjdGl2ZS5j/b20vMS8wLzI0MjMy/LzEwNDA2MDUwL3By/dF8zODB4MzgwXzE0/NDk0NTQyNTlfMngu/anBn">
            </figure> 
        </div>
        
    
</main>
<%- include('templates/foot.ejs') %>