<%- include('templates/head.ejs') %>
<header class="hero">
    <div class="hero-body">
        <h1 class="title">
            Apicultura: Abejas 101 
        </h1>
        <p class="subtitle"><a href="/"> <- Regresar</a></p>
    </div>
</header>
<main class="section">
    
        <div class="container">
            <h2 class="title">Amamos a las abejas. De hecho, somo Apicultores!</h2>
            <p class="content">
                Cuidamos la prosperidad de la vida en la tierra ayudando a nuestras amigas a polonizar y a tener colonias.
            </p>
            <figure class="image">
                <img src="https://imgs.search.brave.com/MZiEjVPaIpvUKVFUMsmfEG5SlkI7rliC_968DbcOruU/rs:fit:800:410:1/g:ce/aHR0cHM6Ly9kYW0u/bmdlbmVzcGFub2wu/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDE5LzA1L2FiZWph/cy1kYXRvcy1zb3Jw/cmVuZGVudGVzLnBu/Zw">
            </figure>
        </div>    
    
</main>
<%- include('templates/foot.ejs') %>